body {
	
	font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}

/* Search */

input[type="submit"] {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  height: 36px;
  color: #757575;
  padding: 0 16px;
}

input[type="submit"]:hover {
  border-color: #D9D9D9;
  color: black;
}

#btnSignIn {
	color: white;
	display: block;
	font-family: arial, sans-serif;
	font-size: 13px;
	border: none;
	border-radius: 2px;
	padding: 7px 13px 8px 13px;
	background-color: #4285f4;
}

.input-border {
    border: 1px solid #d9d9d9;
}

.input-border:focus { 
    border: 1px solid #3369E8;
}

/* NAVBAR */ 

.nav {
	margin-top: 15px;
	margin-right: 20px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    float: right;
}

.nav a {
    display: block;
    padding-top: 8px;
    padding-right: 18px;
    background-color: transparent;
    font-family: arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

/* Footer */

.footer {
  clear: both;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  font-size: 13px;
}

.footer a {
  padding: 10px 15px;
  color: #666;
}

.footer_links {
  padding-top: 12px;
}

#left-links {
  float: left;
  margin-left: 30px;
}

#right-links {
  float: right;
  margin-right: 30px;
}